
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave, retro, valentine, dim;
};

/* Forzar estilo de listas en markdown renderizado en las cards */
.prose ul {
  list-style-type: disc;
  margin-left: 1.5em;
  padding-left: 0.5em;
}
.prose li {
  margin-bottom: 0.4em;
}
