---
import { MessageCircleCode, Pickaxe } from '@lucide/astro'
---

<footer class='footer footer-horizontal footer-center bg-base-200 py-10'>
  <aside>
    <MessageCircleCode class='inline-block size-20' />
    <p class='max-w-xl m-auto text-lg'>
      Want to connect? Reach out to me on:
      <br />
      <a
        href='https://www.linkedin.com/in/your_linkedin'
        target='_blank'
        class='link link-hover text-primary'>LinkedIn</a
      > |
      <a
        href='https://github.com/your_github'
        target='_blank'
        class='link link-hover text-primary'>GitHub</a
      > |
      <a
        href='https://wa.me/573245653637'
        target='_blank'
        class='link link-hover text-primary'>WhatsApp</a
      >
    </p>
    <p class='text-base-content/60'>
      Copyright © {new Date().getFullYear()} - Diego Ramos
    </p>
  </aside>
</footer>
